
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <title>Index</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div> 
        <ul>
            <li>
                <a href="@Url.Action("Index", "Stack")"
                   class="w3-bar-item w3-button">Stack</a>
            </li>
            <li>
                <a href="@Url.Action("Index", "Queue")"
                   class="w3-bar-item w3-button">Queue</a>
            </li>
            <li>
                <a href="@Url.Action("Index", "Dictionary")"
                   class="w3-bar-item w3-button">Dictionary</a>
            <li>
                <a href="@Url.Action("Exit", "Home")"
                   class="w3-bar-item w3-button">Exit</a>
            </li>e
        </ul>
    </div>
</body>
</html>
