
@{
    ViewBag.Title = "Queue";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<body>
    <div class="w3-sidebar w3-bar-block w3-card w3-animate-left" style="display:none" width:10% id="mySidebar">
        <button class="w3-bar-item w3-button w3-large"
                onclick="count()">
            Close &times;
        </button>
        <a href="@Url.Action("AddOne", "Queue")" class="w3-bar-item w3-button">1. Add one item to Queue</a>
        <a href="@Url.Action("AddMany", "Queue")" class="w3-bar-item w3-button">2. Add a Huge List of Items to Queue</a>
        <a href="@Url.Action("Display", "Queue")" class="w3-bar-item w3-button">3. Display Queue</a>
        <a href="@Url.Action("Delete", "Queue")" class="w3-bar-item w3-button">4. Delete from Queue</a>
        <a href="@Url.Action("Clear", "Queue")" class="w3-bar-item w3-button">5. Clear Queue</a>
        <a href="@Url.Action("Search", "Queue")" class="w3-bar-item w3-button">6. Search Queue</a>
        <a href="@Url.Action("Exit", "Queue")" class="w3-bar-item w3-button">7. Return to Main Menu</a>
    </div>

    <div id="main">

        <div class="w3-teal">
            <button id="openNav" class="w3-button w3-teal w3-xlarge" onclick="count()" align="middle">&#9776; Queue</button>
            <div class="w3-container">
            </div>
        </div>
        <h3>@ViewBag.Show</h3>
        @if (ViewBag.MyQueue != null && ViewBag.QueueDisplay == true)
        {
            foreach (var sData in ViewBag.MyQueue)
            {
                <p>@sData</p>
            }
        }
        else
        {
        }

    </div>

    <script>
        function count() {
            if (count.num % 2 === 0) {
                w3_open();
                count.num++;
            } else {
                w3_close();
                count.num++;
            }
        }

        // initialize count number
        count.num = 0;

        function w3_open() {
            document.getElementById("main").style.marginLeft = "25%";
            document.getElementById("mySidebar").style.width = "25%";
            document.getElementById("mySidebar").style.display = "block";
            document.getElementById("openNav").style.display = "inline-block";
        }
        function w3_close() {
            document.getElementById("main").style.marginLeft = "0%";
            document.getElementById("mySidebar").style.display = "none";
            document.getElementById("openNav").style.display = "inline-block";
        }
    </script>



</body>