<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">


</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="w3-bar w3-black">
                <a href="@Url.Action("Index", "Home")" class="w3-bar-item w3-button w3-mobile">Home</a>
                <a href="@Url.Action("Index", "Stack")" class="w3-bar-item w3-button w3-mobile">Stack</a>
                <a href="@Url.Action("Index", "Queue")" class="w3-bar-item w3-button w3-mobile">Queue</a>
                <a href="@Url.Action("Index", "Dictionary")" class="w3-bar-item w3-button w3-mobile">Dictionary</a>
                <a href="@Url.Action("Exit", "Home")#" class="w3-bar-item w3-button w3-mobile">Exit</a>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
